<% content_for :title, "新規スキル作成| MyApp" %>
<% content_for :breadcrumb do %>
  <ol>
    <li><%= link_to "ホーム", admin_users_path %></li>
    <li><%= link_to "スキル一覧", admin_skills_path %></li>
    <li>新規スキルの作成</li>
  </ol>
<% end %>
<h1>新規作成</h1>
<%= render "form", skill: [:admin, @skill] %>
<%= link_to "Cancel", admin_skills_path %>