# PostgreSQL のユーザー名
# ローカルでのみ使用される値なのでなんでもよいが、初期値である postgres を指定する。
POSTGRES_USER=postgres
# PostgreSQL のパスワード
# ローカルでのみ使用される値なのでなんでもよいが、初期値である postgres を指定する。
POSTGRES_PASSWORD=postgres
# PostgreSQL のサービス名
# Docker Composeで定義したサービス名を指定する。
POSTGRES_HOST=postgres