<h1>部署名</h1>
<h1>これは管理者画面です</h1>

<%= link_to "New department", new_admin_department_path %>
<div id="departments">
  <% @department.each do |department| %>
    <div>
      <%= link_to department.name, admin_department_path(department.id) %>
    </div>
  <% end %> 
  <%=link_to "ユーザー一覧へ", admin_users_path %>
</div>
