<h1>ユーザー</h1>

<div id="users">
  <% @users.each do |user| %>
    <div>
       <%= link_to user.name, user_path(user.id) %>
    </div>
  <% end %>
  <%=link_to "部署一覧へ", departments_path %>  
  <%= link_to "スキル一覧へ", skills_path %>
</div>
<%= paginate @users, window: 2, outer_window: 3 %>
