<h1>ユーザー</h1>

<%= link_to "New user", new_user_path %>

<div id="users">
  <% @users.each do |user| %>
    <div>
       <%= link_to user.name, user_path(user.id) %>
       <%# <%= link_to user.department.name, department_path(department.id) %>
    </div>
  <% end %>
</div>
