<h1>ユーザー</h1>

<%= link_to "New user", new_user_path %>

<div id="users">
  <% @users.each do |user| %>
    <div>
       <%= link_to user.name, user_path(user.id) %>
    </div>
  <% end %>
  <%=link_to "部署一覧へ", departments_path %>  
  <%= link_to "スキル一覧へ", skills_path %>
</div>
