<h1>スキル名</h1>

<%= link_to "New skill", new_skill_path %>
<div id="skills">
  <% @skills.each do |skill| %>
    <div>
      <%= link_to skill.name, skill_path(skill.id) %>
    </div>
  <% end %> 
  <%=link_to "ユーザー一覧へ", users_path %>
</div>
