<% content_for :title, "スキル詳細| MyApp" %>
<% content_for :description, "登録されているスキルの情報と所持している人を確認できます。" %>
<% content_for :keywords, "MyApp, スキル詳細" %>
<table>
    <tr>
        <th>項目</th>
        <th>内容</th>
    </tr>
    <tr>
        <td>スキルid</td>
        <td><%= @skill.id%></td>
    </tr>
    <tr>
        <td>スキル名</td>
        <td><%= @skill.name%></td>
    </tr>
</table>

<table> 
  <tr>
    <th>ユーザー覧</th>
  </tr>
    <td>
      <% @skill.users.each do |user| %>
        <%= link_to user.name, user_path(user.id) %>
      <% end %> 
    </td>
  </tr>
</table>


<%= link_to "Back", skills_path %>