<h1>みなさんこんにちわ</h1>
<table>
    <tr>
        <th>項目</th>
        <th>内容</th>
    </tr>
    <tr>
        <td>部署id</td>
        <td><%= @skill.id%></td>
    </tr>
    <tr>
        <td>部署名</td>
        <td><%= @skill.name%></td>
    </tr>
</table>

<table> 
  <tr>
    <th>ユーザー覧</th>
  </tr>
    <td>
      <% @skill.users.each do |user| %>
        <%= link_to user.name, user_path(user.id) %>
      <% end %> 
    </td>
  </tr>
</table>


<%= link_to "Back", skills_path %>