<h1>部署名</h1>

<%= link_to "New department", new_department_path %>
<div id="departments">
  <% @department.each do |department| %>
    <div>
      <%= link_to department.name, department_path(department.id) %>
    </div>
  <% end %> 
  <%=link_to "ユーザー一覧へ", users_path %>
</div>
